.venv/
venv/
__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/
.pytest_cache/
.import_linter_cache/
.grimp_cache/
tests/
docs/
.git/
.github/
.idea/
.vscode/
crudadmin_data/
.claude/
.kiro/
agent_docs/
specs/
src/.env
.env
*.md
!/README.md
mkdocs.yml
.pre-commit-config.yamlsrc/app/logs/
